.errMsg{
   
    color: rgb(226, 5, 5);
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px;
}

.successMsg{
    
    color: rgb(2, 119, 2);
    text-align: center;
    padding: 10px 0;
    letter-spacing: 1.3px;
}